@{
    ViewData["Title"] = "Contato";
}

<h1>Contato</h1>

<p>Sua página de contato.</p>

<address>
    Avenida Paulo Erlei Abrantes, 1325<br />
    Volta Redonda, RJ, 27254-260<br />
    <abbr title="Telefone">Telefone:</abbr> (24) 3340-8400
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<img src="~/Imagem/unifoa.fotos.jpg" alt="UNIFOA" class="img-fluid" style="max-width:400px;" />